<!-- Header -->
<div id="header">
  <div class="container">
    <!-- Left Side Content -->
    <div class="left-side">
      <!-- Logo -->
      <div id="logo">
        <a href="index.html"
          ><img src="/../../public/assets/jijali_logo.png" alt=""
        /></a>
      </div>

      <!-- Main Navigation -->
      <nav id="navigation">
        <ul id="responsive">
          <li>
            <a href="#">Home</a>
          </li>

          <li>
            <a href="#">Broadcast</a>
          </li>

          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </nav>
      <div class="clearfix"></div>
      <!-- Main Navigation / End -->
    </div>
    <!-- Left Side Content / End -->
  </div>
</div>
